.cookie {
  text-align: center;
}

body {
  background: lightblue;
  margin: 0px;  
}

.shop h1 {
  text-align: center;
}

.shop div {
  background-color: gray;
  border-radius: 10px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.row-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.upgrades h1 {
  text-align: center;
}

.upgrades div {
  background: rgb(105, 120, 216);
  border-radius: 5px;
}

.buy {
  display: flex;
  text-align: left;
  align-items: center;
  width: 100vw;
  border-radius: 5px;
  border: gray;
  height: 40px;
  background: #858585;
  background: radial-gradient(left,rgba(133, 133, 133, 1) 6%, rgba(84, 77, 77, 1) 100%);
}

.shop div button:hover {
  background-color: #5d5b5b;
}

.price1 {
  margin-left: auto;
}

.price2 {
  margin-left: auto;
}

.bulkButton {
  display: inline-flex;
  width: 100px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#bulkOptsions {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.bulkButtonActive {
  color: green;
}