body {

	background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 100%);
}

.pealkiri {
  text-align: center;
  margin-top: 0;
}

.pealkiri h1 {
  font-size: 200px;
  color: red;
}

.pealkiri img {
	width: 600px;
	height: auto;
}

.pealkiri h1{
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

